<h3>{{quote.title}}</h3>

{{#if isImageShowing }}
  <p>Author: {{quote.owner}}</p>
  <div class="w3-card-4" style="width:542px">
  	<p><img src={{quote.image}} alt={{quote.type}} width="500px"></p>
  </div>
  {{#if isSucsess }}
  		<p name="status" class="success">You guessed right!</p>
  {{else}}
  		<p name="status" class="error">What a looser! Try again! </p>
  {{/if}}
  <button class="w3-btn w3-round w3-teal" {{action 'resetResult'}}>Reset</button>
{{else}}
<form id="myOption">
	  <input type="radio" name="option" value="Farnsworth"> Farnsworth
	  <input type="radio" name="option" value="Fry"> Fry
	  <input type="radio" name="option" value="Bender"> Bender
	  <input type="radio" name="option" value="Zoidberg"> Zoidberg
	  <input type="radio" name="option" value="Lrr"> Lrr
	  <button class="w3-btn w3-round" {{action 'showResult'}}>Submit</button>
</form>  
{{/if}}