<h2>About Futurama Quotes Challenge</h2>

<p>The Futurama Quotes Challenge website is a delightful project created to explore Ember and test your knowledge about the characters of the tv show called Futurama.</p>