<header class="w3-container w3-teal">
<h2>Welcome to Futurama Quotes Challenge</h2>
</header>

{{#each model as |quote-unit|}}
<div class="w3-card-4">
  {{quote-listing quote=quote-unit}}
</div>
{{/each}}

{{#link-to 'about'}}About{{/link-to}}
